[Unit]
Description=Open a Wifi HotSpot for init

After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes

ExecStart=-/usr/bin/nmcli c delete 3dprinter

ExecStart=/usr/bin/nmcli c add type wifi ifname wlan0 con-name 3dprinter autoconnect no ssid 3dprinter \
802-11-wireless.mode ap 802-11-wireless.band bg ipv4.method shared ipv4.addresses 192.168.4.1/24

ExecStart=/usr/bin/nmcli c up 3dprinter

ExecStop=/usr/bin/nmcli c delete 3dprinter

[Install]
WantedBy=multi-user.target
